.fullHeader {
    width: 100%;
    background-color: black;
}

.Header {
    height: 4.5rem;
    background-color: black;
    display: flex;
    align-items: center;
    width: 92%;
    margin: auto;
}

.headerBottomColor {
    background-color: #1E90FF;
    height: 0.6rem;
}

.Header h1 {
    color: white;
}

.HeaderButton {
    margin-left: 1.3rem;
}

.Header Button {
    margin-left: 0.75rem;
    border-radius: 0.23rem;
}

.Header Button:nth-child(2){
    background-color: #FFCA2C;
    color: black;
}

.Header Button:nth-child(3){
    background-color: #157347;
    color: white;
}

.Header Button:nth-child(4){
    background-color: #1C1F23;
    color: white;
    font-weight: bold;
}

.Header .Search {
    width: 20rem;
    margin-left: auto;
}

.Header .Search Button {
    background: #212529;
    color: #0d6efd;
}

.Header .Search Button:hover {
    background: #0d6efd;
    color: white;
}

.badge {
    margin-left: 8px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: black;
    border-radius:3.5px ;
    color: white;
}

 .modal {
     float: right;
     margin-top: -100px;
}

 .modal img {
     height: 55px;
     padding-right: 50px;
     /*margin-bottom: 40px;*/
 }

 .modal h2 {
     font-weight: bold;
 }

 .modal .modalCard {
     margin: auto;
     margin-bottom: 2rem;
     text-align: center;
 }
.modal .oranModalButton {
    margin-bottom: 1.5rem;
    cursor: default;
}

.flexBasketButton Button {
    margin-right: 2px;
    border-radius: 5px;
}

.walletTotal {
display: flex;
    justify-content: center;
    margin-bottom: 45px;
}
.walletTotal Button {
    margin-left: 20px;
    margin-right: 20px;
    cursor: default;
    border-color: #1C1F23;
    font-weight: bold;
}

.walletTotal Button:hover {
    cursor: default;
    border-color: #1C1F23;
    color: #1C1F23;
}

.walletTotal Button:focus {
    cursor: default;
    border-color: #1C1F23;
    color: #1C1F23;
}

.carpiButonu {
    margin-left: auto;
    color: black;
    cursor: pointer;
}
