.fullHeader {
    width: 100%;
    background-color: black;
}

.Header {
    height: 4.5rem;
    background-color: black;
    display: flex;
    align-items: center;
    width: 92%;
    margin: auto;
}

.HeaderButton {
    margin-left: 1.3rem;
    display: flex;
}

.totalMoneyBtn Button{
    background-color: #157347;
    color: white;
    border-color: #157347;
}

.totalMoneyBtn Button:focus{
    background-color: #157347;
    color: white;
    border-color: #157347;

}
.totalMoneyBtn Button:hover{
    background-color: #2ea96b;
    color: white;
    border-color:  #157347;
    cursor: default;
}

.headerBottomColor {
    background-color: #1E90FF;
    height: 0.6rem;
}

.Header h1 {
    color: white;
}

.Header Button {
    margin-left: 0.75rem;
    border-radius: 0.23rem;
}

.amountModal{
    cursor: default;
}

.walletBtn Button{
    background-color: #FFCA2C;
    color: black;
    border-color: #FFCA2C;
}

.walletBtn Button:hover{
    background-color: #f8db81;
    color: black;
    border-color: #FFCA2C;
}

.walletBtn Button:focus{
    background-color: #FFCA2C;
    color: black;
    border-color: #FFCA2C;
}



.Header .Search {
    width: 20rem;
    margin-left: auto;
}

.searchBar Button {
    background: #212529;
    color: #0d6efd;
}

.searchBar Button:hover {
    background: #0d6efd;
    color: white;
}

.badge {
    margin-left: 8px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: black;
    border-radius:3.5px ;
    color: white;
}

 .modal {
     float: right;
     margin-top: -100px;
}

 .modal img {
     height: 55px;
     padding-right: 50px;
 }

 .modal h2 {
     font-weight: bold;
 }

 .modal .modalCard {
     margin: auto;
     margin-bottom: 2rem;
     text-align: center;
 }

.oranModalButton:hover {
    background: #1C1F23;
}

.flexBasketButton Button {
    margin-right: 2px;
    border-radius: 5px;
}

.walletTotal {
display: flex;
    justify-content: center;
    margin-bottom: 45px;
}
.walletTotal Button {
    margin-left: 20px;
    margin-right: 20px;
    cursor: default;
    border-color: #1C1F23;
    font-weight: bold;
}

.walletTotal Button:hover {
    cursor: default;
    border-color: #1C1F23;
    color: #1C1F23;
}

.modalCard Button {
    margin-bottom: 25px;
}

.walletTotal Button:focus {
    cursor: default;
    border-color: #1C1F23;
    color: #1C1F23;
}

.carpiButonu {
    margin-left: auto;
    color: black;
    cursor: pointer;
}

.searchBar {
    margin-left: auto;
}

.fullHeader {
    z-index: 1;
    margin-top: -32px;
    position: fixed;
}

.profileDiv {
    margin-top: 10px;
    padding-top: 10px;
    margin-bottom: 13px;
    height: 90px;
    display: grid;
    justify-content: center;
}

.modalClss {
    background-color: #1C1F23;
}

.profileDiv Button:nth-child(1) {
    color: white;
    cursor: default;
}

.profileDiv Button:nth-child(1):hover {
    color: white;
    cursor: default;
}

.profileDiv Button:nth-child(1):focus {
    color: white;
    cursor: default;
}

.profileDiv .ucluButton Button:nth-child(1) {
    color: white;
    cursor: default;
    border-color: white;
    border-radius: 5px;
}

.profileDiv .ucluButton Button:hover:nth-child(1) {
    color: black;
    cursor: default;
    border-color: black;
    background: white;
    border-radius: 5px;
}

.profileDiv .ucluButton:nth-child(2) {
    color: white;
    align-items: center;
    font-size: 23px;
    cursor: pointer;

}

.profileDiv .ucluButton Button:nth-child(3) {
    color: orangered;
    cursor: default;
    border-color: white;
    border-radius: 5px;
}

.profileDiv .ucluButton Button:hover:nth-child(3) {
    color: black;
    cursor: default;
    border-color: black;
    background: white;
    border-radius: 5px;
}

.profileDiv .ucluButton Button  {
    margin-left: 12px;
    margin-right: 12px;
}

.modalProfile h4 {
    text-align: center;
}

.dark {
    background: #1C1F23;
    color: white;
}

.dark:hover {
    background: #1C1F23;
    color: white;
}

.dark:focus {
    background: #1C1F23;
    color: white;
}

.light {
    border-color: #1C1F23;
}

.light:focus {
    border-color: #1C1F23;
}

.light:hover {
    border-color: #1C1F23;
}

.modalProfile {
    align-items: center;
    justify-content: center;
}

.modalButtons Button:nth-child(1) {
    margin-top: 25px;
    margin-left: 165px;
    margin-right: 25px;
}
